<h3><%=t :not_found_notice, :scope => :wrong_spellings %></h3>
<p>
  <%= raw(t(:searched_for, :scope => :wrong_spellings, :query => h(@query))) %>.<br/>
  <%=t :check_spelling, :scope => :wrong_spellings %>.
</p>