<div id="relGraph" style="display: none">
	<div class="graphSelectBox">
	    	<%= raw t('graphs.view_select.first', :href => link_to(t('graphs.concept_hierarchy'), '#begreber'), :current => t('graphs.relations')) %>
	</div>
</div>
<script type="text/javascript">
	var flare = <%= @related_syn_sets.to_json.html_safe %>;
	rel_graph(flare, ["<%= t('graphs.relations').upcase! %>"]);
</script>
