<div id="hypoGraph" style="display: none">
	<div class="center"></div>
	<div class="graphSelectBox">
		<%= raw t('graphs.view_select.second', :href => link_to(t('graphs.relations'), '#relationer'), :current => t('graphs.concept_hierarchy')) %>
	</div>
</div>
<script type="text/javascript">
	<% htree = @syn_set.hyponyms_below(@filter).filtered_by_level([0, 35, *1.upto(5).map {|i| i*100 }], 6) %>
	var data = <%= hyponym_tree_to_json(htree.hypo_count_tree, @sense.word.lemma) %>,
	hyponym_count = <%= @syn_set.hyponym_count %>;
	hypo_graph(data, hyponym_count);
</script>