<div style="margin-top: 1em; clear: both"></div>
<%= image_tag 'tree_bw.gif', :class => 'treeImage' %>
<p class="highlight">
  <span class="siteName">Word Ties</span> is a browser that shows how concepts are connected.
</p>
<p>Content to be added for instance/wordnet index page.</p>
<p>
  This work has been performed within the META-NORD project which has received funding from the European Commission through the ICT PSP Programme, grant agreement no 270899.
</p>

