<script type="text/javascript">
 // Create a new YUI instance and populate it with the required modules.
 YUI().use('event', 'cookie', 'datasource', 'autocomplete', 'autocomplete-highlighters', function (Y) {
     var searchItemTemplate = 
 	"<div>" +
 	  "<span>{before}</span>" +
      "<span style='font-weight: bold'>{query}</span>" +
      "<span>{after}</span>" +
    "</div>";
    
    function selectSearchTerm(e) {
    	e.preventDefault();
    	Y.one('#queryInput').set('value', e.result.raw.term);
    	var filter = Y.one('#queryFilter input[name=filter_option]:checked').get("value")
    	gotoWord(e.result.raw.term, filter);
    	
    	return false;
    }
    
    function searchFormatter(query, results) {
	   return Y.Array.map(results, function (result) {
	    var searchResult = result.raw.term;
	
	    // Use string substitution to fill out the search template and
	    // return an HTML string for this result.
	    var matchIdx = searchResult.indexOf(query)
	    var resultStr = Y.Lang.sub(searchItemTemplate, {
	    	query:	query,
	    	before: searchResult.substr(0, matchIdx),
	        after: 	searchResult.substr(matchIdx + query.length)
	    });
	    return resultStr;
	  });
	 }
	 
	 function doChangeEvent(val) {
	 	oDS.set("source", "<%= word_suggestions_path %>/"+val);
        oDS.cache.flush();
    	
    	// reset cookie
        var current_val = Y.Cookie.getSub("filter", "current", {domain: "wordties.cst.dk"});
    	
        if(val.lastIndexOf("_aligned") != -1) val = val.substring(0, val.lastIndexOf("_aligned"));
    	if(current_val != val && current_val != null) Y.Cookie.setSub("filter", current_val, "false", {domain: "wordties.cst.dk"})
    	
    	Y.Cookie.setSub("filter", val, "true", {domain: "wordties.cst.dk"});
    	Y.Cookie.setSub("filter", "current", val, {domain: "wordties.cst.dk"});
	 }
	 
    // Add the yui3-skin-sam class to the body so the default
    // AutoComplete widget skin will be applied.
    Y.one('body').addClass('yui3-skin-sam');
    Y.one('#querySuggestions').addClass('yui3-skin-sam');
    
    // Use an DataSource
    var oDS = new Y.DataSource.IO({source: "<%= word_suggestions_path %>/" + Y.one('#queryFilter input[name=filter_option]:checked').get("value")});
	oDS.plug({fn:Y.Plugin.DataSourceCache, cfg:{max:5}});
    oDS.plug(Y.Plugin.DataSourceTextSchema, {
   	 schema: {
   	 	resultDelimiter: "\n",
    	fieldDelimiter: "\t",
    	resultFields: [{key:"term"}]
   	 }
    });
    
   // AutoComplete instance 
   Y.one('#queryInput').plug(Y.Plugin.AutoComplete, {
    resultHighlighter: 'wordMatch',
    resultFormatter: searchFormatter,
    requestTemplate: '/{query}',
    source: oDS
   });
   
   Y.one('#queryInput').ac.on("select", selectSearchTerm);
   
   Y.all('#queryFilter input[type=radio]').each(function (node) {
    var node_val = node.get('value');
    
   	if(node_val.lastIndexOf("_aligned") != -1) node_val = node_val.substring(0, node_val.lastIndexOf("_aligned"));
    
    var saved_val = Y.Cookie.getSub("filter", node_val, {domain: "wordties.cst.dk"});
    
    node.on('change', function () {
        var val = this.get('value');
        doChangeEvent(val);
    })
	
	if(saved_val == "true") { 
	  node.set("checked", true);
	  doChangeEvent(node.get('value'));
    } else {
    	Y.Cookie.setSub("filter", node_val, "false", {domain: "wordties.cst.dk"});
    }
   });
 });
</script>
